/* Global styles */

.grid-stack-item {
  outline: 1px solid black;
}

.grid-stack-item-content {
  outline: 1px solid black;
}

.grid-stack {
  outline: 1px solid black;
}

.grid-stack-nested {
  outline: 1px solid black;
}

div[role="list"] {
  padding: 10px;
}
