.topbar {
  background-color: #1d1d1d;
  box-sizing: border-box;
  grid-area: 1 / 1 / 5 / 101;
  color: black;
  display: grid;
  grid-template-columns: repeat(100, 1fr);
  grid-template-rows: 1 1fr;
}

.date {
  grid-area: 1 40 1 60;
}

.indicators {
  display: flex;
  justify-content: space-evenly;
}
