.container {
  display: flex;
  align-items: flex-start;
}
.json-viewer {
  width: 40%;
}
.gs-container {
  width: 60%;
}
.controls-container {
  width: 20%;
  padding: 30px;
}
.controls-container > button {
  margin: 5px;
}
